html,body {
	height: 100%;
	width: 100%;
}


.picture {
    flex: 1;
    max-width: 65%;
    max-height: 65%;
}

.navbar .navbar-brand {
	color: white;
  	font-size: 170%;
  	font-weight: bold;
}

.navbar-inverse {
	background-color: #500000;
}

.navbar-inverse .navbar-nav li a {
	color: #D5D5D5;
	font-size: 120%;
	font-weight: bold;
}

.navbar-inverse .navbar-nav li a:hover {
	color: #FFF;
}

.navbar-inverse .navbar-nav li a.active {
	color: #FFF
	background-color: #FFF;
}

#home a {
	font-size: 120%;
	font-weight: bold;
	text-transform: uppercase;
	color: #500000;
}

.landing-text h2 {
	font-size: 2.5em;
	font-weight: 700;
	color:#1b1b1c;
}

#home {
	background: url(img/tamu21_mar_blur.jpg) no-repeat center center fixed;
	height: 100vh;
	width: 100vw;
	display:table;
	position: relative;
	background-size: cover;
}

#resume_landing {
	background: url(img/work.jpg) no-repeat center center fixed;
	height: 40vh;
	width: 100vw;
	display:table;
	position: relative;
	background-size: cover;
}

#resume .padding{
	padding: 50px 0;
}

#resume h1{
	text-transform: uppercase;
	color: #500000;
}
#resume_landing h1 {
	font-size: 700%;
	color: white;
	text-shadow: 0 0 30px black;
}

#resume h3{
	font-weight: bold;
}


#resume a {
	text-decoration: none;
	color: #333;
}

#resume a:hover {
	text-decoration: underline;
	color: #500000;
}

.landing-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#collapseHighschool h2:hover h4:hover {
	text-decoration: bold, underline;
	color: #500000;
}

#collapseHighschoolAwards h2:hover h4:hover {
	text-decoration: bold, underline;
	color: #500000;
}

.landing-text h1 {
	font-size: 1500%;
	font-weight: 700;
	color: #500000;
	text-shadow: 4px 4px 30px #252526;
}

.landing-text h2 {
	color: white;
	text-shadow: 0px 0px 30px black;
}

.padding {
	padding: 80px 0;
}

.padding img {
	width: 100%;
}

footer {
	width: 100%;
	background-color: #500000;
	padding: 5% 5% 10% 5%;
}

footer h5{
	font-size: 300%;
}

footer h3{
	font-weight: 700;
	color: white;
}

.fa {
	padding: 15px;
	color: white;
}

.fa:hover {
	color: #D5D5D5;
	text-decoration: none;
}

#fixed {
	background: url(img/hanging_grainy_strokes_mar.jpg) no-repeat center center fixed;
	display: table;
	height: 60%;
	position: relative;;
	width: 100%;
	background-size: cover;
}

.backdrop {
	background: url(img/work.jpg);
	min-height: 100vh;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.cover-img body:after{
      content:"";
      position:fixed; /* stretch a fixed position to the whole screen */
      top:0;
      height:100vh; /* fix for mobile browser address bar appearing disappearing */
      left:0;
      right:0;
      z-index:-1; /* needed to keep in the background */
      background: url(img/work.jpg) center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

@media (max-width: 768px) {
	.landing-text h1 {
		font-size: 600%;
	}
	.landing-text h2 {
		font-size: 230%;
	}
	.fa {
		font-size: 100%;
		padding: 10px;
	}
	#resume_landing h1 {
		font-size: 250%;
	}
	#fixed {
		display: flex;
	}
}